header{background-color: white;
}
body{background-color: gray;
padding-right: 20px;
padding-left:20px; /* é o espaço que você define para ter da borda do layout*/
}
form{background: black;
}.teste1 a:hover{
    text-decoration: none;
    font-size: medium;
    background: white;
    color: black ;
    padding:auto;
}.teste1 a{
    text-decoration: none;
color: white;
}
a{font-weight: white;
}
main{
    text-align: center;
    background: white;
    width: 50%;
}
div.tabela1{
    width: 100%;
    background: white;
    margin-top: 10px;
    padding-top: 1%;
}
img.imagem1{
    width: 90%;
    height: 90%;
}
footer{background: white;
    text-align: center;
}